$colour-body-text: #b8bfc6;
$colour-body-background: #363B40;
$colour-hr: #474d54;
$colour-link: #e0e0e0;
$colour-link-hover: #fff;
$colour-strong: #DEDEDE;
$colour-blockquote: #9DA2A6;
$colour-blockquote-border: #9DA2A6;
$colour-table-border: #474d54;
$colour-header: #DEDEDE;