$colour-body-text: #333233;
$colour-body-background: #ffffff;
$colour-hr: #fff;
$colour-link: #5482bf;
$colour-link-hover: #5482bf;
$colour-strong: #333;
$colour-blockquote: #777;
$colour-blockquote-border: #dfe2e4;
$colour-table-border: #474d54;
$colour-header: #343333;