@import 'base';
@import 'light-colours';

body {
	background: $colour-body-background;
	color: $colour-body-text;
}

pre,
code {
	background: rgba(0, 0, 0, 0.1);
}

pre code {
	background: rgba(0, 0, 0, 0);
}

hr {
    border-color: $colour-hr;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: $colour-header;
}

a {
	color: $colour-link;
}

a:hover {
	color: $colour-link-hover;
}

b,
th,
dt,
strong {
    color: $colour-strong;
}

blockquote {
    color: $colour-blockquote;
    border-left: solid 3px $colour-blockquote-border;
}

table a {
    color: $colour-strong;
}

th,
td {
    border: solid 1px $colour-table-border;
}